<div class="login">
  <div class="container">
    <div class="btn1">
      <button type="button" class="saida" (click)="return()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>

    <img src="../../../assets/img/Logo-Verde.png" />
    <div class="title">LOGIN</div>

    <input matInput class="input-msm" placeholder="E-mail" />
    <input matInput class="input-msm" placeholder="Senha" />
    <div class="link">
      <a (click)="return3()">CADASTRE-SE</a>
      <a (click)="return2()">forgot your password?</a>
    </div>
    <div class="btn2">
      <button class="btn-entrar" (click)="change()">
        <mat-icon>login</mat-icon>
      </button>
    </div>
  </div>
</div>
