<app-navbar></app-navbar>
<div class="container">
  <div class="tudo">
    <div class="parte1">
      <div class="title">Settings</div>
      <input matInput class="input-msm" placeholder="edit name" />
      <input matInput class="input-msm" placeholder="change password" />
      <input matInput class="input-msm" placeholder="change password" />

      <div class="space">
        <div class="title">edit-spaces</div>
        <input matInput class="input-space" type="number" />
      </div>
    </div>
    <div class="parte2">oioi</div>
  </div>
  <div class="btn">
    <button class="btn-entrar">
      <mat-icon>login</mat-icon>
    </button>
  </div>
</div>
